:root {
    --primary-color: #333333;
    --secondary-color: #0d77ce;
    --text-bright: #ececec;
    --text-dark: #7e7d7d;
  }
  /* Base Style */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    background-color: #f4f4f4;
    color: var(--text-dark);
    font-size: 1.1rem;
  }
  p {
    margin: 2rem 0;
    line-height: 1.5rem;
  }
  a {
    text-decoration: none !important;
    color: var(--text-dark);
  }
  
  ul {
    list-style: none;
  }
  
  
  i {
    color: var(--text-dark);
  }
  
  li{
    margin: 0.5rem 0;
  }
  button{
    outline:none !important;
  }

/* Selection Panel */

.selection{
  margin-top: 1rem;
  text-align: center;
  display:grid;
  height:13rem;
  overflow: hidden;
  overflow-y: scroll;
}

.selection a{
  padding: 0.5rem 2rem;
  margin: 0rem 1rem;
  cursor: pointer;
}

.panel-item{
  background-color: #ececec;
}

.panel-item:hover{
  background-color: #d4d4d4;
}

/* Selection Show case */
.samples {
  margin-top: 1rem;
}
.samples img{
  height: 350px;
  width: 350px;
  padding: 0.5rem 0.5rem;
};

